<div class="advanced-search-wrapper h-flex">
        <div class="filters v-flex">
            <div class="header">
                Filters
            </div>
            <div class="content">
                <ul class="tabs">
                    <li class="tab"><a class="active" href="#genres">Genres</a></li>
                    <li class="tab"><a href="#criteria">Criteria</a></li>
                    <li class="tab"><a href="#year">Year</a></li>
                    <li class="tab"><a href="#duration">Duration</a></li>
                </ul>
                <div id="genres" class="tab-content v-flex">
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>Action</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>Adventure</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>Drama</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>Thriller</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>Action</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>Adventure</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>Drama</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>Thriller</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>Action</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>Adventure</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>Drama</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>Thriller</span>
                    </label>
                </div>
                <div id="criteria" class="tab-content v-flex">
                    <p class="range-field">
                        <label>Nudity</label>
                        <input type="range" min="0" max="5" step="0.1" />
                    </p>
                    <p class="range-field">
                        <label>Violence</label>
                        <input type="range" min="0" max="5" step="0.1" />
                    </p>
                    <p class="range-field">
                        <label>LGBTQ</label>
                        <input type="range" min="0" max="5" step="0.1" />
                    </p>
                    <p class="range-field">
                        <label>Morality</label>
                        <input type="range" min="0" max="5" step="0.1" />
                    </p>
                    <p class="range-field">
                        <label>Sex</label>
                        <input type="range" min="0" max="5" step="0.1" />
                    </p>
                    <p class="range-field">
                        <label>Language</label>
                        <input type="range" min="0" max="5" step="0.1" />
                    </p>
                </div>
                <div id="year" class="tab-content v-flex">
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2019</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2018</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2017</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2016</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2015</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2014</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2013</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2012</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2011</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2010</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2009</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2008</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2007</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2006</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2005</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2004</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2003</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2002</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2001</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>2000</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>1999</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>1998</span>
                    </label>
                    <label class="genre h-flex">
                        <input type="checkbox" class="filled-in" />
                        <span>1997</span>
                    </label>
                </div>
                <div id="duration" class="tab-content v-flex">
                    <p class="range-field">
                        <label>Minimum Duration (minutes)</label>
                        <input type="range" min="0" max="240" />
                    </p>
                    <p class="range-field">
                        <label>Maximum Duration (minutes)</label>
                        <input type="range" min="0" max="240" />
                    </p>
                </div>
            </div>
        </div>
        <div class="search v-flex">
            <div class="search-bar h-flex">
                <div class="search-input h-flex">
                    <div class="search-icon v-flex"><i class="fa fa-search"></i></div>
                    <input type="text" placeholder="Search..." name="search">
                </div>
            </div>
            <div class="search-results v-flex">
                <div class="result h-flex">
                    <div class="cover"><img src="" alt=""></div>
                    <div class="info v-flex">
                        <h1 class="title">Avengers: Endgame</h1>
                        <p class="plot">Lolita was a nice person, except when she gets mad, everything vanishes away.</p>
                    </div>
                    <div class="actions h-flex">
                        <button class="btn"><i title="Review later" class="far fa-clock"></i></button>
                        <button class="btn">View Review</button>
                    </div>
                </div>
                <div class="result h-flex">
                    <div class="cover"><img src="" alt=""></div>
                    <div class="info v-flex">
                        <h1 class="title">Avengers: Endgame</h1>
                        <p class="plot">Lolita was a nice person, except when she gets mad, everything vanishes away.</p>
                    </div>
                    <div class="actions h-flex">
                        <button class="btn"><i title="Review later" class="far fa-clock"></i></button>
                        <button class="btn">View Review</button>
                    </div>
                </div>
                <div class="result h-flex">
                    <div class="cover"><img src="" alt=""></div>
                    <div class="info v-flex">
                        <h1 class="title">Avengers: Endgame</h1>
                        <p class="plot">Lolita was a nice person, except when she gets mad, everything vanishes away.</p>
                    </div>
                    <div class="actions h-flex">
                        <button class="btn"><i title="Review later" class="far fa-clock"></i></button>
                        <button class="btn">View Review</button>
                    </div>
                </div>
                <div class="result h-flex">
                    <div class="cover"><img src="" alt=""></div>
                    <div class="info v-flex">
                        <h1 class="title">Avengers: Endgame</h1>
                        <p class="plot">Lolita was a nice person, except when she gets mad, everything vanishes away.</p>
                    </div>
                    <div class="actions h-flex">
                        <button class="btn"><i title="Review later" class="far fa-clock"></i></button>
                        <button class="btn">View Review</button>
                    </div>
                </div>
            </div>
        </div>
    </div>