{% load static %}
{% load notifications_tags %}
{% load movie_review_extras %}
<!DOCTYPE html>
<html lang="EN">

<head>
    <title>IsMDb — Islamic Movie Reviews</title>

    <meta charset="UTF-8">
    <meta name="description" content="An islamic movie reviews website.">
    <meta name="keywords" content="Movie, Review, Movie Review, Islam, Islamic Movie Review">
    <meta name="author" content="IsMDb">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'reviews/style/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/all.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/regular.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/topnav.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/content.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/category.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/library.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/suggestions.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/advanced-search.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/display.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/review-cover.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/review.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/footer.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/materialize.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Stardos+Stencil|Circular+Std" rel="stylesheet"/>

</head>

<body>
{% if user.is_authenticated %}
    <input type="hidden" id="user_auth" value="true"/>
{% else %}
    <input type="hidden" id="user_auth" value="false"/>
{% endif %}
<div id="main" class="v-flex">
    <div id="topnav" class="h-flex">
        <div class="logo">
            <a href="/" class="c-link">
                <img src="{% static 'reviews/assets/ismdb-logo-v2.jpg' %}" alt="logo-image">
            </a>
        </div>
        <div class="categories h-flex">
            <ul class="fake-list h-flex">
                <li class="category h-flex {% block explore_class %}{% endblock %}"><a class="h-flex c-link"
                                                                                       href="{% url 'reviews:category' category='explore' %}">Explore</a>
                </li>
                <li class="category h-flex {% block popular_class %}{% endblock %}"><a class="h-flex c-link"
                                                                                       href="{% url 'reviews:category' category='popular' %}">Popular</a>
                </li>
                <li class="category h-flex {% block recent_class %}{% endblock %}"><a class="h-flex c-link"
                                                                                      href="{% url 'reviews:category' category='recently_added' %}">Recently
                    Added</a></li>
            </ul>
        </div>
        <div class="search-bar">
            <div class="search-input h-flex">
                <div class="search-icon v-flex"><i class="fa fa-search"></i></div>
                <form method="post" action="/search/" class="autocomplete-me" id="search_filter">
                    <input type="search" autocomplete="off" placeholder="Search..." name="q" id="id_q">
                </form>
                <button title="Advanced Search (Filters)"><a href="{% url 'search:advanced_search' %}"><i
                        class="fas fa-sliders-h"></i></a></button>
            </div>
            <div class="search-results v-flex">

            </div>
        </div>
        <div class="other-actions h-flex">
            {% if user.is_authenticated %}
                <div class="library v-flex">
                    <a class="c-link"
                       href="{% url 'reviews:get_library' library="your-watchlist" sort="alphabetical-order" %}"><i
                            class="fas fa-folder"></i></a>

                </div>
                <div class="notifications v-flex">
                    <div class="bell v-flex"><i class="fas fa-bell"></i></div>
                    <div class="dropdown hidden visually-hidden v-flex">
                        <div class="notification-title">NOTIFICATIONS</div>
                        {% for notification in notifications %}
                            {% if notification.verb == 'Comment Liked' %}
                                <a href="{{ notification.action_object.get_absolute_url }}">
                                    <div class="notification v-flex">
                                        <div class="notif-content">{{ notification.actor }} Liked Your Comment
                                            On {{ notification.action_object.title }}</div>
                                        <div class="notif-timestamp">{{ notification|timesince_notifications }}</div>
                                    </div>
                                </a>
                            {% elif notification.verb == 'Suggestion Approved' %}
                                <a href="{% url 'suggestions:suggestions' %}">
                                    <div class="notification v-flex">
                                        <div class="notif-content">Your
                                            Suggestion {{ notification.action_object.title }}
                                            Has
                                            Been Approved
                                        </div>
                                        <div class="notif-timestamp">{{ notification|timesince_notifications }}</div>
                                    </div>
                                </a>
                            {% elif notification.verb == 'Suggestion Upvoted' %}
                                <a href="{% url 'suggestions:suggestions' %}">
                                    <div class="notification v-flex">
                                        <div class="notif-content">{{ notification.actor }} Upvoted Your
                                            Suggestion {{ notification.action_object.title }}</div>
                                        <div class="notif-timestamp">{{ notification|timesince_notifications }}</div>
                                    </div>
                                </a>
                            {% elif notification.verb == 'Suggestion Added' %}
                                <a href="{{ notification.action_object.get_absolute_url }}">
                                    <div class="notification v-flex">
                                        <div class="notif-content">The Suggestion You Upvoted Has Been Added</div>
                                        <div class="notif-timestamp">{{ notification|timesince_notifications }}</div>
                                    </div>
                                </a>
                            {% elif notification.verb == 'Comment Disabled' %}
                                <a href="{{ notification.action_object.get_absolute_url }}">
                                    <div class="notification v-flex">
                                        <div class="notif-content">Due To your last actions you can no longer comment,
                                            If
                                            you
                                            think there's a misunderstanding, contact us
                                        </div>
                                        <div class="notif-timestamp">{{ notification|timesince_notifications }}</div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="profile v-flex">
                    <div class="profile-icon v-flex">
                        <img src="{{ user.avatar.url }}" alt="profile-photo">
                    </div>
                    <div class="profile-dropdown hidden visually-hidden v-flex">
                        <div class="header h-flex">
                            <img src="{% static 'reviews/assets/profile-image.jpeg' %}" alt="profile-image">
                            <div class="info v-flex">
                                <span class="nickname">{{ user.username }}</span>
                                <span class="honors">{{ user.honor_points }} <i class="fas fa-award"></i></span>
                            </div>
                        </div>
                        <div class="option h-flex">
                            <i class="far fa-edit"></i> Edit Profile
                        </div>
                        <div class="option h-flex">
                            <i class="fas fa-cog"></i> Settings
                        </div>
                        <div class="separator"></div>
                        <div class="option h-flex">
                            <i class="fas fa-film"></i> Suggest A Review
                        </div>
                        <div class="separator"></div>
                        <div class="option h-flex">
                            <i class="far fa-question-circle"></i> Help
                        </div>
                        <div class="option h-flex">
                            <i class="fas fa-comment-alt"></i> Send Feedback
                        </div>
                        <div class="option h-flex">
                            <i class="fas fa-sign-out-alt"></i> Sign Out
                        </div>
                    </div>
                </div>
            {% else %}
                <!-- TODO: Add Login/Register Icon -->
            {% endif %}
        </div>
    </div>
    <div id="content" class="v-flex">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer" class="v-flex">
        <div class="h-flex categories">
            <div class="category v-flex">
                <div class="cat-title">Company</div>
                <div class="cat-links v-flex">
                    <a class="c-link" href="#">About</a>
                    <a class="c-link" href="#">Contact Us</a>
                    <a class="c-link" href="#">Conditions of Use</a>
                    <a class="c-link" href="#">Privacy Policy</a>
                </div>
            </div>
            <div class="category v-flex">
                <div class="cat-title">Categories</div>
                <div class="cat-links v-flex">
                    <a class="c-link" href="{% url 'reviews:category' category="explore" %}">Explore</a>
                    <a class="c-link" href="{% url 'reviews:category' category="popular" %}">Popular</a>
                    <a class="c-link" href="{% url 'reviews:category' category="recently_added" %}">Recently Added</a>
                </div>
            </div>
            <div class="category v-flex">
                <div class="cat-title">Library</div>
                <div class="cat-links v-flex">
                    {% if user.authenticated %}
                        <a class="c-link"
                           href="{% url 'reviews:get_library' library="your-watchlist" sort="alphabetical-order" %}">Your
                            Watchlist</a>
                    {% else %}
                        <a class="c-link"
                           href="#">Your Watchlist</a>
                    {% endif %}

                    {% if user.authenticated %}
                        <a class="c-link"
                           href="{% url 'reviews:get_library' library="liked" sort="alphabetical-order" %}">Liked</a>
                    {% else %}
                        <a class="c-link"
                           href="#">Liked</a>
                    {% endif %}

                    {% if user.authenticated %}
                        <a class="c-link"
                           href="{% url 'reviews:get_library' library="review-later" sort="alphabetical-order" %}">Review
                            Later</a>
                    {% else %}
                        <a class="c-link"
                           href="#">Review
                            Later</a>
                    {% endif %}
                </div>
            </div>
            <div class="category v-flex">
                <div class="cat-title">MISC</div>
                <div class="cat-links v-flex">
                    <a class="c-link" href="{% url 'search:advanced_search' %}">Advanced Search (Filters)</a>
                    <a class="c-link" href="{% url 'suggestions:suggestions' %}">Suggest a Review</a>
                    <a class="c-link" href="#">FAQ</a>
                </div>
            </div>
            <div class="category v-flex">
                <div class="cat-title">Social Media</div>
                <div class="cat-links v-flex">
                    <a class="c-link" href="#">Facebook</a>
                    <a class="c-link" href="#">Instagram</a>
                    <a class="c-link" href="#">Twitter</a>
                </div>
            </div>
        </div>
        <div class="h-flex copyright">COPYRIGHT © 2019 — IsMDb.</div>
    </div>
</div>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
<!-- TODO: Change the Elements For the Live Updater -->
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
<!-- TODO: To Add in the Notification center -->
<!-- { live_notify_list %} -->
<!-- { live_notify_badge %} -->
<script type="text/javascript" src="{% static 'reviews/js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'reviews/js/jquery-3.4.1.js' %}"></script>
<script type="text/javascript" src="{% static 'reviews/js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'reviews/js/autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'search/js/autocomplete_search.js' %}"></script>
<script type="text/javascript" src="{% static 'suggestions/js/suggestions_upvote.js' %}"></script>
<script type="text/javascript" src="{% static 'suggestions/js/add_suggestion.js' %}"></script>
<script type="text/javascript" src="{% static 'suggestions/js/autocomplete_suggestion.js' %}"></script>
<script type="text/javascript" src="{% static 'comments/js/reactions.js' %}"></script>
<script type="text/javascript" src="{% static 'reviews/js/library.js' %}"></script>
<script type="text/javascript" src="{% static 'reviews/js/modals.js' %}"></script>
<script type="text/javascript" src="{% static 'search/js/autocomplete_filter.js' %}"></script>
</body>

</html>