{% extends 'reviews/content.html' %}
{% block category %}
    <div class="category-holder v-flex">
        <div class="v-flex category">
            <div class="h-flex title-return">
                <h1 class="category-title">{{ name }}</h1>
                <a href="{% url 'reviews:home' %}">
                    <div class="v-flex go-back-btn" title="Go Back">
                        <i class="fas fa-long-arrow-alt-left"></i>
                    </div>
                </a>
            </div>
            <div class="h-flex category-content">
                <div class="h-flex reviews-wrapper list-type">
                    <div class="h-flex reviews">
                        {% for review in reviews %}
                            <div class="review h-flex">
                                <div class="v-flex review-cover">
                                    <img class="film-cover" src="{{ review.cover.url }}">
                                </div>
                                <div class="more-info">
                                    <div class="animation-div"></div>
                                    <div class="more-info-wrapper v-flex">
                                        <div class="film-title h-flex">
                                            <h4>{{ review.title }}</h4>
                                            <h6>({{ review.year }})</h6>
                                        </div>
                                        <div class="plot">
                                            <p>{{ review.description }}</p>
                                        </div>
                                        <div class="starring">
                                            <p>
                                                Starring:
                                                <span class="cast-member">Abbes Moh</span>,
                                                <span class="cast-member">Lola Jolin</span>,
                                                <span class="cast-member">Jake Gel</span>,
                                                <span class="cast-member">Hahohi Khouya</span>
                                            </p>
                                        </div>
                                        <div class="genres">
                                            <p>Genres:
                                                <span class="genre">{{ review.genre }}</span>
                                            </p>
                                        </div>
                                        <div class="rating v-flex">
                                            <div class="imdb-rating">IMDb rating: <span
                                                    class="imdb-rating-value">{{ review.IMDB_rating }}</span>
                                            </div>
                                            <div class="ismdb-rating">MPAA rating: <span
                                                    class="ismdb-rating-value">{{ review.MPAA_rating }}</span>
                                            </div>
                                        </div>
                                        <div class="review-actions h-flex">
                                            <div class="bookmark-rev-later">
                                                <i title="Bookmark" class="far fa-bookmark"></i>
                                                <i title="Review later" class="far fa-clock"></i>
                                            </div>
                                            <a href="{% url 'reviews:review' %}?id={{ review.id }}">
                                                <button class="view-review" type="button" name="action">View Review
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}