{% extends 'reviews/content.html' %}
{% load static %}
{% block category %}
<div class="category-holder v-flex">
    <div class="h-flex title">
        <a href="#" class="c-link">Recently Added</a>
    </div>
    <div class="h-flex content">
        <div class="h-flex reviews-wrapper list-type">
            <div class="h-flex reviews">
                <div class="review h-flex">
                </div>
                <div class="review h-flex">
                </div>
                <div class="review h-flex">
                </div>
                <div class="review h-flex">
                </div>
                <div class="review h-flex">
                </div>
                <div class="review h-flex">
                </div>
                <div class="review h-flex">
                </div>
                <div class="review h-flex">
                </div>
                <div class="review h-flex">
                </div>
                <div class="review h-flex">
                </div>
                <div class="review h-flex">
                </div>
                <div class="review h-flex">
                </div>
            </div>
        </div>
    </div>
    <div class="h-flex see-more">
        <a href="#" class="c-link">See More</a>
    </div>
</div>
{% endblock %}