{% extends 'reviews/base.html' %}
{% load static %}
{% block content %}
<div id="content" class="v-flex">
    {% block category %}
    {% endblock %}
    <div class="display h-flex">
        <div class="v-flex arrow left-arrow"><i class="fas fa-chevron-left"></i></div>
        <div class="elements">
            <div class="element">
                <div class="cover">
                    <img src="{% static 'reviews/assets/joker-banner.jpg' %}" alt="film-cover">
                </div>
                <div class="content h-flex">
                    <div class="left v-flex">
                        <div class="header v-flex">
                            <div class="title-div h-flex">
                                <div class="title">Joker</div>
                            </div>
                            <div class="metadata h-flex">
                                <div class="year"><span>2019</span></div>
                                <div class="duration"><span>120min</span></div>
                                <div class="genres">
                                    <span>Drama</span>
                                    <span>Sci-Fi</span>
                                    <span>Action</span>
                                </div>
                            </div>
                        </div>
                        <div class="plot">
                            <h1>Story Line</h1>
                            <div class="separator"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat
                                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="ismdb-rating v-flex">
                            <div class="header h-flex">
                                <span class="rating">2.4</span> <span class="text">rating based on the following
                                    criteria:</span>
                            </div>
                            <div class="ratings h-flex">
                                <!--<div class="circle-rating v-flex">2.4</div>-->
                                <div class="bar-rating v-flex">
                                    <div class="rating h-flex">
                                        <div class="title">Nudity</div>
                                        <div class="value h-flex">
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                        </div>
                                    </div>
                                    <div class="rating h-flex">
                                        <div class="title">LGBT</div>
                                        <div class="value h-flex">
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                        </div>
                                    </div>
                                    <div class="rating h-flex">
                                        <div class="title">Violence</div>
                                        <div class="value h-flex">
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                        </div>
                                    </div>
                                    <div class="rating h-flex">
                                        <div class="title">Morality</div>
                                        <div class="value h-flex">
                                            <div class="unit"></div>
                                        </div>
                                    </div>
                                    <div class="rating h-flex">
                                        <div class="title">Sex</div>
                                        <div class="value h-flex">
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="buttons h-flex">
                            <button class="h-flex">
                                <i class="fas fa-plus"></i>
                                <div>Watchlist</div>
                            </button>
                            <button class="h-flex">
                                <i class="fas fa-play"></i>
                                <div>Trailer</div>
                            </button>
                        </div>
                    </div>
                    <div class="right v-flex">
                        <img src="{% static 'reviews/assets/joker.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="element hidden visually-hidden">
                <div class="cover">
                    <img src="{% static 'reviews/assets/joker-banner.jpg' %}" alt="film-cover">
                </div>
                <div class="content h-flex">
                    <div class="left v-flex">
                        <div class="header v-flex">
                            <div class="title-div h-flex">
                                <div class="title">Lolita</div>
                            </div>
                            <div class="metadata h-flex">
                                <div class="year"><span>2019</span></div>
                                <div class="duration"><span>120min</span></div>
                                <div class="genres">
                                    <span>Drama</span>
                                    <span>Sci-Fi</span>
                                    <span>Action</span>
                                </div>
                            </div>
                        </div>
                        <div class="plot">
                            <h1>Story Line</h1>
                            <div class="separator"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat
                                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="ismdb-rating v-flex">
                            <div class="header h-flex">
                                <span class="rating">2.4</span> <span class="text">rating based on the following
                                    criteria:</span>
                            </div>
                            <div class="ratings h-flex">
                                <!--<div class="circle-rating v-flex">2.4</div>-->
                                <div class="bar-rating v-flex">
                                    <div class="rating h-flex">
                                        <div class="title">Nudity</div>
                                        <div class="value h-flex">
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                        </div>
                                    </div>
                                    <div class="rating h-flex">
                                        <div class="title">LGBT</div>
                                        <div class="value h-flex">
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                        </div>
                                    </div>
                                    <div class="rating h-flex">
                                        <div class="title">Violence</div>
                                        <div class="value h-flex">
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                        </div>
                                    </div>
                                    <div class="rating h-flex">
                                        <div class="title">Morality</div>
                                        <div class="value h-flex">
                                            <div class="unit"></div>
                                        </div>
                                    </div>
                                    <div class="rating h-flex">
                                        <div class="title">Sex</div>
                                        <div class="value h-flex">
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                            <div class="unit"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="buttons h-flex">
                            <button class="h-flex">
                                <i class="fas fa-plus"></i>
                                <div>Watchlist</div>
                            </button>
                            <button class="h-flex">
                                <i class="fas fa-play"></i>
                                <div>Trailer</div>
                            </button>
                        </div>
                    </div>
                    <div class="right v-flex">
                        <img src="{% static 'reviews/assets/joker.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="v-flex arrow right-arrow"><i class="fas fa-chevron-right"></i></div>
    </div>
    <div class="category-holder v-flex">
        <div class="h-flex title">
            <a href="#" class="c-link">Recently Added</a>
        </div>
        <div class="h-flex content">
            <div class="h-flex reviews-wrapper list-type">
                <div class="h-flex reviews">
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                </div>
            </div>
        </div>
        <div class="h-flex see-more">
            <a href="#" class="c-link">See More</a>
        </div>
    </div>
    <div class="category-holder v-flex">
        <div class="h-flex title">
            <a href="#" class="c-link">Explore</a>
        </div>
        <div class="h-flex content">
            <div class="h-flex reviews-wrapper list-type">
                <div class="h-flex reviews">
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                </div>
            </div>
        </div>
        <div class="h-flex see-more">
            <a href="#" class="c-link">See More</a>
        </div>
    </div>
</div>
{% endblock %}