{% extends 'reviews/base.html' %}
{% load static %}
{% block content %}
<div id="content" class="v-flex">
    {% block category %}
    {% endblock %}
    <div class="display v-flex">
        <div class="cover">
            <img src="{% static 'reviews/assets/joker-banner.jpg' %}" alt="film-cover">
        </div>
        <div class="content h-flex">
            <div class="left v-flex">
                <div class="header h-flex">
                    <div class="title">Joker</div>
                    <div class="ismdb-rating v-flex"><span>10</span></div>
                </div>
                <div class="metadata h-flex">
                    <div class="year">2019</div>
                    <div class="duration">120min</div>
                    <div class="genres">
                        <span>Drama</span>
                        <span>Sci-Fi</span>
                        <span>Action</span>
                    </div>
                </div>
                <div class="plot">
                    <h1>Story Line</h1>
                    <div class="separator"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="buttons h-flex">
                    <div class="btn-wrapper h-flex">
                        <i class="fas fa-plus"></i>
                        <button>Watchlist</button>
                    </div>
                    <div class="btn-wrapper h-flex">
                        <i class="fas fa-play"></i>
                        <button>Trailer</button>
                    </div>
                </div>
            </div>
            <div class="right v-flex">LOOOOOOL</div>
        </div>
    </div>
    <div class="category-holder v-flex">
        <div class="h-flex title">
            <a href="#" class="c-link">Recently Added</a>
        </div>
        <div class="h-flex content">
            <div class="h-flex reviews-wrapper list-type">
                <div class="h-flex reviews">
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                </div>
            </div>
        </div>
        <div class="h-flex see-more">
            <a href="#" class="c-link">See More</a>
        </div>
    </div>
    <div class="category-holder v-flex">
        <div class="h-flex title">
            <a href="#" class="c-link">Explore</a>
        </div>
        <div class="h-flex content">
            <div class="h-flex reviews-wrapper list-type">
                <div class="h-flex reviews">
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                    <div class="review h-flex">
                    </div>
                </div>
            </div>
        </div>
        <div class="h-flex see-more">
            <a href="#" class="c-link">See More</a>
        </div>
    </div>
</div>
{% endblock %}