<!DOCTYPE html>
<html lang="En">
{% load static %}
<head>
    <title>IsMDb —  Islamic Movie Reviews</title>

    <meta charset="UTF-8">
    <meta name="description" content="An islamic movie reviews website.">
    <meta name="keywords" content="Movie, Review, Movie Review, Islam, Islamic Movie Review">
    <meta name="author" content="IsMDb">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'reviews/style/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/sidenav.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/topnav.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/home.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/category.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/reviews-cover.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/reviews.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'reviews/style/css/materialize.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Stardos+Stencil|Circular+Std" rel="stylesheet" />


</head>

<body>
    <div id="main" class="h-flex">
        <div id="sidenav" class="bc-primary v-flex">
            <div id="logo" class="v-flex">
                <h1 class="c-accent">IsMDb</h1>
                <h3>The Film Industry reviewed from an Islamic perspective.</h3>
            </div>
            <!--<div id="profile-area" class="h-flex">
                <div id="profile-photo" class="rounded-corners"></div>
                <div id="profile-info" class="v-flex">
                    <h5 class="c-accent">@username</h5>
                    <h6>392 <i class="fas fa-star c-accent" style="padding-left: 3px;"></i></h6>
                </div>
            </div>
            <div class="login-area v-flex">
                <div><i class="fas fa-user-circle fa-4x"></i></div>
                <div class="login-btn"><a href="login.html" class="waves-effect waves-light btn">Login</a></div>
            </div>-->
            <div id="categories-1" class="categories">
                <ul class="fake-list v-flex">
                    <li>Explore</li>
                    <li>Popular</li>
                    <li>Recently Added</li>
                </ul>
            </div>
            <div class="dividers"></div>
            <div id="categories-2" class="categories">
                <ul class="fake-list v-flex">
                    <li>Liked</li>
                    <li>Bookmarked</li>
                    <li>Review Later</li>
                </ul>
            </div>
            <div class="dividers"></div>
            <div id="misc" class="categories">
                <ul class="fake-list v-flex">
                    <li>About</li>
                    <li>Privacy & Policy</li>
                    <li>Contact Us</li>
                    <li>Logout</li>
                </ul>
            </div>
            <div class="copyright">copyright © 2019 — IsMDb.</div>
        </div>
        <div id="container" class="">
            <div id="topnav" class="h-flex">
                <div class="search-wrapper v-flex">
                    <div id="search-bar" class="h-flex">
                        <i class="search-icon material-icons prefix">search</i>
                        <label>
                            <input class="search-input" type="text" placeholder="Search...">
                        </label>
                    </div>
                    <div class="search-content"></div>
                </div>
                <div class="h-flex other-actions">
                    <div class="c-notifications hidden visually-hidden">
                        <div class="h-flex notification-title">
                            <p>NOTIFICATIONS</p>
                            <i class="fas fa-cog"></i>
                        </div>
                        <div class="notifications">
                            <div class="notification v-flex">
                                <div class="notif-content">Your account has been unbanned account has been unbanned
                                    account
                                    has been unbanned account has been unbanned account has been unbanned</div>
                                <div class="notif-timestamp">2 hours ago</div>
                            </div>
                            <div class="notification v-flex">
                                <div class="notif-content">@username liked your comment</div>
                                <div class="notif-timestamp">7 hours ago</div>
                            </div>
                            <div class="notification v-flex">
                                <div class="notif-content">@username liked your comment</div>
                                <div class="notif-timestamp">7 hours ago</div>
                            </div>
                            <div class="notification v-flex">
                                <div class="notif-content">@username liked your comment</div>
                                <div class="notif-timestamp">7 hours ago</div>
                            </div>
                            <div class="notification v-flex">
                                <div class="notif-content">Your suggestion has been upvoted by @username</div>
                                <div class="notif-timestamp">yesterday</div>
                            </div>
                            <div class="notification v-flex">
                                <div class="notif-content">You might be interested in this review: Avengers</div>
                                <div class="notif-timestamp">3 days ago</div>
                            </div>
                            <div class="notification v-flex">
                                <div class="notif-content">Please review our rules before making a post</div>
                                <div class="notif-timestamp">7 weeks ago</div>
                            </div>
                            <div class="notification v-flex">
                                <div class="notif-content">Your registration was successful. Welcome in our community!
                                </div>
                                <div class="notif-timestamp">7 weeks ago</div>
                            </div>
                        </div>
                    </div>
                    <div class="c-icon-wrapper bell-icon waves-effect">
                        <div class="c-icon v-flex"><i class="fas fa-bell"></i></div>
                    </div>
                    <div class="set-icon c-icon-wrapper waves-effect">
                        <div class="c-icon v-flex"><i class="fas fa-cog"></i></div>
                    </div>
                    <div class="profile-wrapper v-flex">
                        <div class="profile-info h-flex">
                            <!--<div id="profile-info" class="v-flex">
                                <h5 class="c-accent">@username</h5>
                                <h6>392 <i class="fas fa-star c-accent" style="padding-left: 3px;"></i></h6>
                            </div>-->
                        </div>
                        <div class="profile-actions"></div>
                    </div>
                    <div id="profile-photo" class="rounded-corners"></div>
                </div>
            </div>
            <div id="content">
                <div id="home" class="v-flex">
                    <div class="home-animation"></div>
                    <div class="content-holder v-flex">
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div id="settings-wrapper" class="h-flex">
            <div class="sdarkener"></div>
            <div class="v-flex settings">
                <div class="set-header h-flex">
                    <div class="set-title">Settings</div>
                    <div class="h-flex close-icon c-icon-wrapper waves-effect">
                        <div class="c-icon v-flex">
                            <div class="custom-icon div-1"></div>
                            <div class="custom-icon div-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>


    <script type="text/javascript" src="{% static 'reviews/js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'reviews/js/jquery-3.4.1.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'reviews/js/script.js' %}"></script>
</body>

</html>