{% extends 'reviews/content.html' %}
{% load static %}
{% block library %}
<div class="library-holder v-flex">
        <div class="header">Library</div>
        <div class="h-flex options">
            <div class="selection">
                <select class="select">
                    <option value="your-watchlist">Your Watchlist</option>
                    <option value="liked">Liked</option>
                    <option value="review-later">Review Later</option>
                </select>
                <i class="fas fa-sort-down"></i>
            </div>
            <div class="selection">
                <select class="select">
                    <option value="alphabetical-order">Alphabetical Order</option>
                    <option value="date-order-oldest">Date Order (Oldest)</option>
                    <option value="date-order-newest">Date Order (Newest)</option>
                </select>
                <i class="fas fa-sort-down"></i>
            </div>
        </div>
        <div class="h-flex content">
            <div class="h-flex reviews-wrapper list-type">
                <div class="h-flex reviews">
                    <div class="review h-flex">
                        <div class="v-flex review-cover">
                            <img class="film-cover" src="{% static 'reviews/assets/joker.jpg' %}">
                        </div>
                        <div class="more-info">
                            <div class="animation-div"></div>
                            <div class="more-info-wrapper v-flex">
                                <div class="film-title h-flex">
                                    <h4>Joker</h4>
                                    <span title="IsMDb Rating" class="rating">2.4</span>
                                </div>
                                <div class="plot">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                        consequat.</p>
                                </div>
                                <div class="metadata h-flex">
                                    <div class="year"><span>2019</span></div>
                                    <div class="genres">
                                        <span>Drama</span>
                                        <span>Sci-Fi</span>
                                        <span>Action</span>
                                    </div>
                                </div>
                                <div class="review-actions h-flex">
                                    <div class="bookmark-rev-later">
                                        <button><i title="Bookmark" class="far fa-bookmark"></i></button>
                                        <button><i title="Review later" class="far fa-clock"></i></button>
                                    </div>
                                    <button class="view-review" type="button" name="action">View Review<i
                                            class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review h-flex">
                        <div class="v-flex review-cover">
                            <img class="film-cover" src="{% static 'reviews/assets/joker.jpg' %}">
                        </div>
                        <div class="more-info">
                            <div class="animation-div"></div>
                            <div class="more-info-wrapper v-flex">
                                <div class="film-title h-flex">
                                    <h4>Joker</h4>
                                    <span title="IsMDb Rating" class="rating">2.4</span>
                                </div>
                                <div class="plot">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                        consequat.</p>
                                </div>
                                <div class="metadata h-flex">
                                    <div class="year"><span>2019</span></div>
                                    <div class="genres">
                                        <span>Drama</span>
                                        <span>Sci-Fi</span>
                                        <span>Action</span>
                                    </div>
                                </div>
                                <div class="review-actions h-flex">
                                    <div class="bookmark-rev-later">
                                        <button><i title="Bookmark" class="far fa-bookmark"></i></button>
                                        <button><i title="Review later" class="far fa-clock"></i></button>
                                    </div>
                                    <button class="view-review" type="button" name="action">View Review<i
                                            class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review h-flex">
                        <div class="v-flex review-cover">
                            <img class="film-cover" src="{% static 'reviews/assets/joker.jpg' %}">
                        </div>
                        <div class="more-info">
                            <div class="animation-div"></div>
                            <div class="more-info-wrapper v-flex">
                                <div class="film-title h-flex">
                                    <h4>Joker</h4>
                                    <span title="IsMDb Rating" class="rating">2.4</span>
                                </div>
                                <div class="plot">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                        consequat.</p>
                                </div>
                                <div class="metadata h-flex">
                                    <div class="year"><span>2019</span></div>
                                    <div class="genres">
                                        <span>Drama</span>
                                        <span>Sci-Fi</span>
                                        <span>Action</span>
                                    </div>
                                </div>
                                <div class="review-actions h-flex">
                                    <div class="bookmark-rev-later">
                                        <button><i title="Bookmark" class="far fa-bookmark"></i></button>
                                        <button><i title="Review later" class="far fa-clock"></i></button>
                                    </div>
                                    <button class="view-review" type="button" name="action">View Review<i
                                            class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review h-flex">
                        <div class="v-flex review-cover">
                            <img class="film-cover" src="{% static 'reviews/assets/joker.jpg' %}">
                        </div>
                        <div class="more-info">
                            <div class="animation-div"></div>
                            <div class="more-info-wrapper v-flex">
                                <div class="film-title h-flex">
                                    <h4>Joker</h4>
                                    <span title="IsMDb Rating" class="rating">2.4</span>
                                </div>
                                <div class="plot">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                        consequat.</p>
                                </div>
                                <div class="metadata h-flex">
                                    <div class="year"><span>2019</span></div>
                                    <div class="genres">
                                        <span>Drama</span>
                                        <span>Sci-Fi</span>
                                        <span>Action</span>
                                    </div>
                                </div>
                                <div class="review-actions h-flex">
                                    <div class="bookmark-rev-later">
                                        <button><i title="Bookmark" class="far fa-bookmark"></i></button>
                                        <button><i title="Review later" class="far fa-clock"></i></button>
                                    </div>
                                    <button class="view-review" type="button" name="action">View Review<i
                                            class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review h-flex">
                        <div class="v-flex review-cover">
                            <img class="film-cover" src="{% static 'reviews/assets/joker.jpg' %}">
                        </div>
                        <div class="more-info">
                            <div class="animation-div"></div>
                            <div class="more-info-wrapper v-flex">
                                <div class="film-title h-flex">
                                    <h4>Joker</h4>
                                    <span title="IsMDb Rating" class="rating">2.4</span>
                                </div>
                                <div class="plot">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                        consequat.</p>
                                </div>
                                <div class="metadata h-flex">
                                    <div class="year"><span>2019</span></div>
                                    <div class="genres">
                                        <span>Drama</span>
                                        <span>Sci-Fi</span>
                                        <span>Action</span>
                                    </div>
                                </div>
                                <div class="review-actions h-flex">
                                    <div class="bookmark-rev-later">
                                        <button><i title="Bookmark" class="far fa-bookmark"></i></button>
                                        <button><i title="Review later" class="far fa-clock"></i></button>
                                    </div>
                                    <button class="view-review" type="button" name="action">View Review<i
                                            class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review h-flex">
                        <div class="v-flex review-cover">
                            <img class="film-cover" src="{% static 'reviews/assets/joker.jpg' %}">
                        </div>
                        <div class="more-info">
                            <div class="animation-div"></div>
                            <div class="more-info-wrapper v-flex">
                                <div class="film-title h-flex">
                                    <h4>Joker</h4>
                                    <span title="IsMDb Rating" class="rating">2.4</span>
                                </div>
                                <div class="plot">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                        consequat.</p>
                                </div>
                                <div class="metadata h-flex">
                                    <div class="year"><span>2019</span></div>
                                    <div class="genres">
                                        <span>Drama</span>
                                        <span>Sci-Fi</span>
                                        <span>Action</span>
                                    </div>
                                </div>
                                <div class="review-actions h-flex">
                                    <div class="bookmark-rev-later">
                                        <button><i title="Bookmark" class="far fa-bookmark"></i></button>
                                        <button><i title="Review later" class="far fa-clock"></i></button>
                                    </div>
                                    <button class="view-review" type="button" name="action">View Review<i
                                            class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review h-flex">
                        <div class="v-flex review-cover">
                            <img class="film-cover" src="{% static 'reviews/assets/joker.jpg' %}">
                        </div>
                        <div class="more-info">
                            <div class="animation-div"></div>
                            <div class="more-info-wrapper v-flex">
                                <div class="film-title h-flex">
                                    <h4>Joker</h4>
                                    <span title="IsMDb Rating" class="rating">2.4</span>
                                </div>
                                <div class="plot">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                        consequat.</p>
                                </div>
                                <div class="metadata h-flex">
                                    <div class="year"><span>2019</span></div>
                                    <div class="genres">
                                        <span>Drama</span>
                                        <span>Sci-Fi</span>
                                        <span>Action</span>
                                    </div>
                                </div>
                                <div class="review-actions h-flex">
                                    <div class="bookmark-rev-later">
                                        <button><i title="Bookmark" class="far fa-bookmark"></i></button>
                                        <button><i title="Review later" class="far fa-clock"></i></button>
                                    </div>
                                    <button class="view-review" type="button" name="action">View Review<i
                                            class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review h-flex">
                        <div class="v-flex review-cover">
                            <img class="film-cover" src="{% static 'reviews/assets/joker.jpg' %}">
                        </div>
                        <div class="more-info">
                            <div class="animation-div"></div>
                            <div class="more-info-wrapper v-flex">
                                <div class="film-title h-flex">
                                    <h4>Joker</h4>
                                    <span title="IsMDb Rating" class="rating">2.4</span>
                                </div>
                                <div class="plot">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                        consequat.</p>
                                </div>
                                <div class="metadata h-flex">
                                    <div class="year"><span>2019</span></div>
                                    <div class="genres">
                                        <span>Drama</span>
                                        <span>Sci-Fi</span>
                                        <span>Action</span>
                                    </div>
                                </div>
                                <div class="review-actions h-flex">
                                    <div class="bookmark-rev-later">
                                        <button><i title="Bookmark" class="far fa-bookmark"></i></button>
                                        <button><i title="Review later" class="far fa-clock"></i></button>
                                    </div>
                                    <button class="view-review" type="button" name="action">View Review<i
                                            class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review h-flex">
                        <div class="v-flex review-cover">
                            <img class="film-cover" src="{% static 'reviews/assets/joker.jpg' %}">
                        </div>
                        <div class="more-info">
                            <div class="animation-div"></div>
                            <div class="more-info-wrapper v-flex">
                                <div class="film-title h-flex">
                                    <h4>Joker</h4>
                                    <span title="IsMDb Rating" class="rating">2.4</span>
                                </div>
                                <div class="plot">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                        consequat.</p>
                                </div>
                                <div class="metadata h-flex">
                                    <div class="year"><span>2019</span></div>
                                    <div class="genres">
                                        <span>Drama</span>
                                        <span>Sci-Fi</span>
                                        <span>Action</span>
                                    </div>
                                </div>
                                <div class="review-actions h-flex">
                                    <div class="bookmark-rev-later">
                                        <button><i title="Bookmark" class="far fa-bookmark"></i></button>
                                        <button><i title="Review later" class="far fa-clock"></i></button>
                                    </div>
                                    <button class="view-review" type="button" name="action">View Review<i
                                            class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review h-flex">
                        <div class="v-flex review-cover">
                            <img class="film-cover" src="{% static 'reviews/assets/joker.jpg' %}">
                        </div>
                        <div class="more-info">
                            <div class="animation-div"></div>
                            <div class="more-info-wrapper v-flex">
                                <div class="film-title h-flex">
                                    <h4>Joker</h4>
                                    <span title="IsMDb Rating" class="rating">2.4</span>
                                </div>
                                <div class="plot">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                        consequat.</p>
                                </div>
                                <div class="metadata h-flex">
                                    <div class="year"><span>2019</span></div>
                                    <div class="genres">
                                        <span>Drama</span>
                                        <span>Sci-Fi</span>
                                        <span>Action</span>
                                    </div>
                                </div>
                                <div class="review-actions h-flex">
                                    <div class="bookmark-rev-later">
                                        <button><i title="Bookmark" class="far fa-bookmark"></i></button>
                                        <button><i title="Review later" class="far fa-clock"></i></button>
                                    </div>
                                    <button class="view-review" type="button" name="action">View Review<i
                                            class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review h-flex">
                        <div class="v-flex review-cover">
                            <img class="film-cover" src="{% static 'reviews/assets/joker.jpg' %}">
                        </div>
                        <div class="more-info">
                            <div class="animation-div"></div>
                            <div class="more-info-wrapper v-flex">
                                <div class="film-title h-flex">
                                    <h4>Joker</h4>
                                    <span title="IsMDb Rating" class="rating">2.4</span>
                                </div>
                                <div class="plot">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                        consequat.</p>
                                </div>
                                <div class="metadata h-flex">
                                    <div class="year"><span>2019</span></div>
                                    <div class="genres">
                                        <span>Drama</span>
                                        <span>Sci-Fi</span>
                                        <span>Action</span>
                                    </div>
                                </div>
                                <div class="review-actions h-flex">
                                    <div class="bookmark-rev-later">
                                        <button><i title="Bookmark" class="far fa-bookmark"></i></button>
                                        <button><i title="Review later" class="far fa-clock"></i></button>
                                    </div>
                                    <button class="view-review" type="button" name="action">View Review<i
                                            class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review h-flex">
                        <div class="v-flex review-cover">
                            <img class="film-cover" src="{% static 'reviews/assets/joker.jpg' %}">
                        </div>
                        <div class="more-info">
                            <div class="animation-div"></div>
                            <div class="more-info-wrapper v-flex">
                                <div class="film-title h-flex">
                                    <h4>Joker</h4>
                                    <span title="IsMDb Rating" class="rating">2.4</span>
                                </div>
                                <div class="plot">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                        consequat.</p>
                                </div>
                                <div class="metadata h-flex">
                                    <div class="year"><span>2019</span></div>
                                    <div class="genres">
                                        <span>Drama</span>
                                        <span>Sci-Fi</span>
                                        <span>Action</span>
                                    </div>
                                </div>
                                <div class="review-actions h-flex">
                                    <div class="bookmark-rev-later">
                                        <button><i title="Bookmark" class="far fa-bookmark"></i></button>
                                        <button><i title="Review later" class="far fa-clock"></i></button>
                                    </div>
                                    <button class="view-review" type="button" name="action">View Review<i
                                            class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}