<!DOCTYPE html>
<html>

<head>
    <title>IsMDb — Islamic Movie Reviews</title>

    <meta charset="UTF-8">
    <meta name="description" content="An islamic movie reviews website.">
    <meta name="keywords" content="Movie, Review, Movie Review, Islam, Islamic Movie Review">
    <meta name="author" content="IsMDb">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="style/css/style.css" rel="stylesheet" type="text/css">
    <link href="style/css/login.css" rel="stylesheet" type="text/css">
    <link href="style/css/materialize.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Stardos+Stencil" rel="stylesheet" />


</head>

<body>
    <div class="bigger-wrapper v-flex">
        <div class="wrapper h-flex">
            <div class="img-wrapper">
                <img src="assets/Untitled.png">
            </div>
            <div class="form-wrapper v-flex">
                <form id="form" class="col s12">
                    <div class="row logo">
                        <h1>IsMDb</h1>
                        <h6>Land for Islamic Movie Reviews</h6>
                    </div>
                    <div class="row credentials-row">
                        <div class="input-field col s12">
                            <input class="validate" required="" aria-required="true" id="email-username" autocomplete="off" type="text"
                                pattern="(^\w+\d*)|(^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$)">
                            <label for="email-username">Username or email</label>
                            <span class="helper-text" data-error="Incorrect username or email" data-success=""></span>
                        </div>
                        <div class="input-field col s12">
                            <input class="validate" required="" aria-required="true" id="password" type="password">
                            <label for="password">Password</label>
                            <span class="helper-text" data-error="Incorrect password" data-success=""></span>
                        </div>
                        <div class="col s12 forgot-password">
                            <a href="#">Forgot password?</a>
                        </div>
                    </div>
                    <div class="row login-row v-flex">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Login
                        </button>
                    </div>
                    <div class="row signup-row">
                        Don't have an account? <a href="signup.html" class="signup-link">Sign up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/jquery-3.4.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>