<div class="suggestions-wrapper v-flex">
    <div class="my-suggestions v-flex">
        <div class="header h-flex">
            <h1>My Suggestions</h1>
            <button class="btn add">Add A Suggestion</button>
        </div>
        <div class="content v-flex">
            <div class="no-suggestions">No suggestions yet.</div>
            <div class="four-suggs v-flex">
                <div class="my-suggestion v-flex">
                    <div class="header h-flex">
                        <h1>Title</h1>
                        <div class="actions h-flex">
                            <button title="Delete" class="btn"><i class="far fa-trash-alt"></i></button>
                            <span class="upvotes">67 upvotes</span>
                        </div>
                    </div>
                    <div class="content">
                        <p>No description</p>
                    </div>
                </div>
                <div class="my-suggestion v-flex">
                    <div class="header h-flex">
                        <h1>Title</h1>
                        <div class="actions h-flex">
                            <button title="Delete" class="btn"><i class="far fa-trash-alt"></i></button>
                            <span class="upvotes">67 upvotes</span>
                        </div>
                    </div>
                    <div class="content">
                        <p>No description</p>
                    </div>
                </div>
                <div class="my-suggestion v-flex">
                    <div class="header h-flex">
                        <h1>Title</h1>
                        <div class="actions h-flex">
                            <button title="Delete" class="btn"><i class="far fa-trash-alt"></i></button>
                            <span class="upvotes">67 upvotes</span>
                        </div>
                    </div>
                    <div class="content">
                        <p>No description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="com-suggestions v-flex">
        <div class="header h-flex">
            <h1>Community Suggestions</h1>
        </div>
        <div class="content v-flex">
            <div class="four-suggs v-flex">
                <div class="com-suggestion v-flex">
                    <div class="header h-flex">
                        <h1>Title</h1>
                        <div class="actions h-flex">
                            <button title="Report" class="btn"><i class="fas fa-flag"></i></button>
                            <button title="Upvote" class="btn active"><i class="fas fa-level-up-alt"></i></button>
                            <span class="upvotes">67 upvotes</span>
                        </div>
                    </div>
                    <div class="content">
                        <p>No description</p>
                    </div>
                </div>
                <div class="com-suggestion v-flex">
                    <div class="header h-flex">
                        <h1>Title</h1>
                        <div class="actions h-flex">
                            <button title="Report" class="btn"><i class="fas fa-flag"></i></button>
                            <button title="Upvote" class="btn"><i class="fas fa-level-up-alt"></i></button>
                            <span class="upvotes">67 upvotes</span>
                        </div>
                    </div>
                    <div class="content">
                        <p>No description</p>
                    </div>
                </div>
                <div class="com-suggestion v-flex">
                    <div class="header h-flex">
                        <h1>Title</h1>
                        <div class="actions h-flex">
                            <button title="Report" class="btn"><i class="fas fa-flag"></i></button>
                            <button title="Upvote" class="btn"><i class="fas fa-level-up-alt"></i></button>
                            <span class="upvotes">67 upvotes</span>
                        </div>
                    </div>
                    <div class="content">
                        <p>No description</p>
                    </div>
                </div>
                <div class="com-suggestion v-flex">
                    <div class="header h-flex">
                        <h1>Title</h1>
                        <div class="actions h-flex">
                            <button title="Report" class="btn"><i class="fas fa-flag"></i></button>
                            <button title="Upvote" class="btn"><i class="fas fa-level-up-alt"></i></button>
                            <span class="upvotes">67 upvotes</span>
                        </div>
                    </div>
                    <div class="content">
                        <p>No description</p>
                    </div>
                </div>
            </div>
            <div class="four-suggs v-flex">
                <div class="com-suggestion v-flex">
                    <div class="header h-flex">
                        <h1>Title</h1>
                        <div class="actions h-flex">
                            <button title="Report" class="btn"><i class="fas fa-flag"></i></button>
                            <button title="Upvote" class="btn"><i class="fas fa-level-up-alt"></i></button>
                            <span class="upvotes">67 upvotes</span>
                        </div>
                    </div>
                    <div class="content">
                        <p>No description</p>
                    </div>
                </div>
                <div class="com-suggestion v-flex">
                    <div class="header h-flex">
                        <h1>Title</h1>
                        <div class="actions h-flex">
                            <button title="Report" class="btn"><i class="fas fa-flag"></i></button>
                            <button title="Upvote" class="btn"><i class="fas fa-level-up-alt"></i></button>
                            <span class="upvotes">67 upvotes</span>
                        </div>
                    </div>
                    <div class="content">
                        <p>No description</p>
                    </div>
                </div>
                <div class="com-suggestion v-flex">
                    <div class="header h-flex">
                        <h1>Title</h1>
                        <div class="actions h-flex">
                            <button title="Report" class="active btn"><i class="fas fa-flag"></i></button>
                            <button title="Upvote" class="btn"><i class="fas fa-level-up-alt"></i></button>
                            <span class="upvotes">67 upvotes</span>
                        </div>
                    </div>
                    <div class="content">
                        <p>No description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>