# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
IsMDb/__pycache__/
IsMDb/recommendation_engine/content_based_filtering/__pycache__/
IsMDb/settings - Copie.py
IsMDb/whoosh_index/MAIN_2ylmiamds7255vf9.seg
IsMDb/whoosh_index/MAIN_f7sj85l0dhsab9t0.seg
IsMDb/whoosh_index/MAIN_nis94y0fgiy0n6k8.seg
IsMDb/whoosh_index/_MAIN_23.toc
__pycache__/
admin/__pycache__/
ews/
comments/__pycache__/
comments/migrations/0003_auto_20190918_1430.py
comments/migrations/0004_auto_20190918_2347.py
comments/migrations/0005_auto_20190918_2356.py
comments/migrations/0006_auto_20190919_0023.py
comments/migrations/0007_auto_20190919_0023.py
comments/migrations/0008_auto_20190919_0024.py
comments/migrations/0009_auto_20190919_0045.py
comments/migrations/0010_auto_20190919_0050.py
comments/migrations/0011_auto_20190919_0902.py
comments/migrations/__pycache__/
reports/__pycache__/
reports/migrations/__pycache__/
reviews/__pycache__/
reviews/templatetags/__pycache__/
search/__pycache__/
search/migrations/__pycache__/
suggestions/__pycache__/
suggestions/migrations/0003_historicalsuggestion.py
suggestions/migrations/__pycache__/
users/__pycache__/
users/migrations/0003_auto_20190918_1430.py
users/migrations/0004_auto_20190918_2356.py
users/migrations/0005_auto_20190919_0023.py
users/migrations/0006_auto_20190919_0045.py
users/migrations/0007_auto_20190919_0050.py
users/migrations/__pycache__/
venv/
