.review-holder {
  width: 100%;
  padding: 32px; }
  .review-holder .back-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10; }
    .review-holder .back-cover div {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(17, 17, 17, 0.25); }
    .review-holder .back-cover img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .review-holder .separator {
    width: 100%;
    height: 4px;
    background: #ec7063; }
  .review-holder .film-content {
    justify-content: flex-start;
    align-items: flex-start;
    height: 500px; }
    .review-holder .film-content .cover {
      width: 35%;
      height: 100%; }
      .review-holder .film-content .cover img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .review-holder .film-content .text {
      width: 65%;
      height: 100%;
      padding: 0px 0 0px 32px;
      align-items: flex-start; }
      .review-holder .film-content .text .header {
        width: 100%;
        align-items: flex-start; }
        .review-holder .film-content .text .header .title {
          font-size: 36px;
          font-weight: bold;
          color: #222;
          width: 85%; }
        .review-holder .film-content .text .header .rating {
          margin-top: 16px;
          margin-right: 4px;
          font-weight: bold;
          font-size: 20px;
          padding: 4px 12px;
          color: #EEE;
          background: #111111;
          border-bottom: 4px solid #EC7063; }
      .review-holder .film-content .text .plot {
        width: 100%; }
        .review-holder .film-content .text .plot h1 {
          margin: 0;
          font-size: 18px;
          font-weight: bold;
          color: rgba(34, 34, 34, 0.8);
          text-transform: uppercase; }
        .review-holder .film-content .text .plot .separator {
          width: 100%;
          height: 1px;
          margin: 8px 0;
          background: grey; }
        .review-holder .film-content .text .plot p {
          font-size: 14px;
          color: #111; }
        .review-holder .film-content .text .plot .metadata {
          width: 100%;
          color: rgba(34, 34, 34, 0.9);
          justify-content: flex-start;
          margin-top: 16px; }
          .review-holder .film-content .text .plot .metadata div {
            margin-right: 8px;
            font-size: 12px; }
          .review-holder .film-content .text .plot .metadata .genres {
            text-transform: uppercase; }
            .review-holder .film-content .text .plot .metadata .genres span {
              margin-right: 2px; }
          .review-holder .film-content .text .plot .metadata span {
            cursor: pointer;
            padding: 4px;
            border: 1px solid rgba(17, 17, 17, 0.5); }
          .review-holder .film-content .text .plot .metadata span:hover {
            background: rgba(17, 17, 17, 0.1); }
      .review-holder .film-content .text .information {
        width: 100%; }
        .review-holder .film-content .text .information div {
          margin: 4px 0; }
        .review-holder .film-content .text .information .not {
          font-size: 14px;
          font-weight: bold;
          color: rgba(34, 34, 34, 0.8);
          text-transform: uppercase; }
        .review-holder .film-content .text .information .star, .review-holder .film-content .text .information .director, .review-holder .film-content .text .information .release, .review-holder .film-content .text .information .c-value {
          font-size: 16px;
          font-weight: bold;
          color: #222222; }
      .review-holder .film-content .text .buttons {
        width: 100%; }
        .review-holder .film-content .text .buttons .btn {
          font-size: 13px;
          font-weight: bold;
          text-transform: uppercase;
          background: #eeeeee;
          color: #111;
          margin-right: 4px;
          border-radius: 0px;
          transition: 250ms; }
          .review-holder .film-content .text .buttons .btn i {
            font-size: 14px;
            color: #111; }
        .review-holder .film-content .text .buttons .trailer i, .review-holder .film-content .text .buttons .watchlist i {
          margin-right: 16px; }
        .review-holder .film-content .text .buttons .actions .btn:nth-child(1) {
          margin-right: 4px; }
        .review-holder .film-content .text .buttons .reactions .btn:nth-child(1) {
          margin-right: 16px; }
        .review-holder .film-content .text .buttons .reactions i {
          font-size: 16px; }
        .review-holder .film-content .text .buttons .review {
          justify-self: flex-end;
          border-right: 8px solid #ec7063; }
          .review-holder .film-content .text .buttons .review i {
            margin-left: 16px; }
        .review-holder .film-content .text .buttons .btn:not(.btn-nbg):hover {
          background: rgba(204, 204, 204, 0.9); }
  .review-holder .ismdb-review {
    margin-top: 64px; }
    .review-holder .ismdb-review .header {
      font-size: 48px;
      font-weight: bold;
      color: rgba(34, 34, 34, 0.65); }
    .review-holder .ismdb-review .content {
      padding: 16px;
      align-items: center; }
      .review-holder .ismdb-review .content .summary {
        padding: 16px 0; }
        .review-holder .ismdb-review .content .summary p {
          padding: 0;
          color: #111;
          font-size: 20px;
          font-weight: bold; }
      .review-holder .ismdb-review .content .rating-content {
        background: rgba(128, 128, 128, 0.15);
        padding: 16px 16px;
        margin-top: 16px;
        width: 70%; }
        .review-holder .ismdb-review .content .rating-content .ismdb-rating {
          width: 100%;
          justify-content: space-around; }
          .review-holder .ismdb-review .content .rating-content .ismdb-rating .rating-header {
            width: 100%;
            margin-bottom: 16px; }
            .review-holder .ismdb-review .content .rating-content .ismdb-rating .rating-header .text {
              font-weight: bold;
              font-size: 16px;
              text-transform: uppercase;
              color: #111; }
            .review-holder .ismdb-review .content .rating-content .ismdb-rating .rating-header i {
              color: rgba(17, 17, 17, 0.9);
              cursor: pointer;
              font-size: 24px; }
          .review-holder .ismdb-review .content .rating-content .ismdb-rating .ratings {
            width: 100%;
            justify-content: center; }
            .review-holder .ismdb-review .content .rating-content .ismdb-rating .ratings .bar-rating .bars .rating {
              width: 100%;
              margin: 8px 0; }
              .review-holder .ismdb-review .content .rating-content .ismdb-rating .ratings .bar-rating .bars .rating .title {
                color: #111;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                text-align: left;
                margin-right: 16px; }
              .review-holder .ismdb-review .content .rating-content .ismdb-rating .ratings .bar-rating .bars .rating .value {
                justify-content: flex-start;
                background: #F8F8F8;
                border-radius: 0px;
                height: 8px;
                width: 125px; }
                .review-holder .ismdb-review .content .rating-content .ismdb-rating .ratings .bar-rating .bars .rating .value .unit {
                  background: #EC7063;
                  height: 100%;
                  width: 25px;
                  margin-rigth: 1px; }
            .review-holder .ismdb-review .content .rating-content .ismdb-rating .ratings .bar-rating .bars:nth-child(1) {
              margin-right: 48px; }
  .review-holder .community-review {
    margin-top: 64px; }
    .review-holder .community-review .community-header {
      font-size: 48px;
      font-weight: bold;
      color: rgba(34, 34, 34, 0.65); }
    .review-holder .community-review .content {
      width: 100%;
      padding: 32px; }
      .review-holder .community-review .content .com-post {
        width: 100%;
        padding: 16px 32px;
        margin-bottom: 32px;
        background: #EAEAEA; }
        .review-holder .community-review .content .com-post .com-header {
          width: 100%;
          align-items: flex-start; }
          .review-holder .community-review .content .com-post .com-header .profile {
            align-items: flex-start; }
            .review-holder .community-review .content .com-post .com-header .profile img {
              width: 50px;
              height: 50px;
              object-fit: cover;
              margin-right: 16px;
              border-radius: 50%; }
            .review-holder .community-review .content .com-post .com-header .profile div {
              align-items: flex-start; }
              .review-holder .community-review .content .com-post .com-header .profile div .nickname {
                font-weight: bold;
                margin-bottom: 4px; }
              .review-holder .community-review .content .com-post .com-header .profile div .honors {
                font-size: 14px; }
        .review-holder .community-review .content .com-post .com-content {
          width: 100%; }
          .review-holder .community-review .content .com-post .com-content .materialize-textarea {
            font-size: 16px;
            width: 100%;
            padding: 8px; }
        .review-holder .community-review .content .com-post .buttons {
          width: 100%;
          margin-top: 16px;
          justify-content: flex-end; }
          .review-holder .community-review .content .com-post .buttons .btn {
            font-size: 13px;
            font-weight: bold;
            background: #ec7063; }
            .review-holder .community-review .content .com-post .buttons .btn i {
              margin-left: 8px;
              transform: translateY(-2px); }
          .review-holder .community-review .content .com-post .buttons .btn:hover {
            background: rgba(236, 112, 99, 0.9); }
          .review-holder .community-review .content .com-post .buttons .btn:first-child {
            margin-right: 8px; }
      .review-holder .community-review .content .com-review {
        width: 100%;
        padding: 16px 32px;
        margin-bottom: 32px;
        background: #EAEAEA; }
        .review-holder .community-review .content .com-review .com-header {
          width: 100%;
          align-items: flex-start; }
          .review-holder .community-review .content .com-review .com-header .profile {
            align-items: flex-start; }
            .review-holder .community-review .content .com-review .com-header .profile img {
              width: 50px;
              height: 50px;
              object-fit: cover;
              margin-right: 16px;
              border-radius: 50%; }
            .review-holder .community-review .content .com-review .com-header .profile div {
              align-items: flex-start; }
              .review-holder .community-review .content .com-review .com-header .profile div .nickname {
                font-weight: bold;
                margin-bottom: 4px; }
              .review-holder .community-review .content .com-review .com-header .profile div .honors {
                font-size: 14px; }
          .review-holder .community-review .content .com-review .com-header .timestamp {
            font-size: 14px;
            font-weight: bold;
            color: rgba(34, 34, 34, 0.6);
            justify-self: flex-end; }
        .review-holder .community-review .content .com-review .com-content {
          width: 100%;
          margin-top: 16px;
          justify-content: flex-start; }
        .review-holder .community-review .content .com-review .buttons {
          width: 100%;
          margin-top: 16px; }
          .review-holder .community-review .content .com-review .buttons .btn {
            height: 36px;
            font-size: 13px;
            font-weight: bold; }
          .review-holder .community-review .content .com-review .buttons .btn:not(.btn-nbg):hover {
            background: rgba(204, 204, 204, 0.9); }
          .review-holder .community-review .content .com-review .buttons .btn-nbg:hover i {
            transform: translateY(-1px); }
          .review-holder .community-review .content .com-review .buttons .reactions i {
            font-size: 16px; }
          .review-holder .community-review .content .com-review .buttons .reactions .btn:first-child {
            margin-right: 16px; }
          .review-holder .community-review .content .com-review .buttons .actions .btn:first-child {
            margin-right: 16px; }
          .review-holder .community-review .content .com-review .buttons .view-review i {
            font-size: 18px;
            height: 24px;
            transition: 0.3s; }
        .review-holder .community-review .content .com-review .rating-content {
          background: rgba(128, 128, 128, 0.15);
          padding: 16px 16px;
          margin-top: 32px;
          width: 70%; }
          .review-holder .community-review .content .com-review .rating-content .ismdb-rating {
            width: 100%; }
            .review-holder .community-review .content .com-review .rating-content .ismdb-rating .rating-header {
              width: 100%;
              margin-bottom: 16px; }
              .review-holder .community-review .content .com-review .rating-content .ismdb-rating .rating-header .text {
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
                color: #111; }
              .review-holder .community-review .content .com-review .rating-content .ismdb-rating .rating-header i {
                color: rgba(17, 17, 17, 0.9);
                cursor: pointer;
                font-size: 24px; }
            .review-holder .community-review .content .com-review .rating-content .ismdb-rating .ratings {
              width: 100%;
              justify-content: center; }
              .review-holder .community-review .content .com-review .rating-content .ismdb-rating .ratings .bar-rating .bars .rating {
                width: 100%;
                margin: 8px 0; }
                .review-holder .community-review .content .com-review .rating-content .ismdb-rating .ratings .bar-rating .bars .rating .title {
                  color: #111;
                  font-size: 16px;
                  font-weight: bold;
                  text-transform: uppercase;
                  text-align: left;
                  margin-right: 16px; }
                .review-holder .community-review .content .com-review .rating-content .ismdb-rating .ratings .bar-rating .bars .rating .value {
                  justify-content: flex-start;
                  background: #F8F8F8;
                  border-radius: 0px;
                  height: 8px;
                  width: 125px; }
                  .review-holder .community-review .content .com-review .rating-content .ismdb-rating .ratings .bar-rating .bars .rating .value .unit {
                    background: #EC7063;
                    height: 100%;
                    width: 25px;
                    margin-rigth: 1px; }
              .review-holder .community-review .content .com-review .rating-content .ismdb-rating .ratings .bar-rating .bars:nth-child(1) {
                margin-right: 48px; }
      .review-holder .community-review .content .com-more {
        justify-content: flex-end; }
        .review-holder .community-review .content .com-more button {
          padding: 12px 16px;
          font-size: 13px;
          font-weight: bold;
          background: rgba(204, 204, 204, 0.7);
          border: none;
          outline: none;
          cursor: pointer; }
        .review-holder .community-review .content .com-more button:hover {
          background: rgba(204, 204, 204, 0.9); }
  .review-holder .related-reviews {
    margin-top: 32px; }
    .review-holder .related-reviews .related-header {
      font-size: 48px;
      font-weight: bold;
      color: rgba(34, 34, 34, 0.65); }
    .review-holder .related-reviews .content {
      width: 100%;
      padding: 32px; }
      .review-holder .related-reviews .content .reviews {
        flex-wrap: wrap;
        position: relative;
        width: 100%; }
        .review-holder .related-reviews .content .reviews .review {
          width: 220px;
          height: 310px;
          border-radius: 5px;
          background: #BBB; }
        .review-holder .related-reviews .content .reviews .review:nth-child(4n) {
          margin-right: 0px; }
        .review-holder .related-reviews .content .reviews .review:nth-last-child(1), .review-holder .related-reviews .content .reviews .review:nth-last-child(2), .review-holder .related-reviews .content .reviews .review:nth-last-child(3), .review-holder .related-reviews .content .reviews .review:nth-last-child(4) {
          margin-bottom: 0; }

/*# sourceMappingURL=review.css.map */
