.cbtn
    border: none
    outline: none
    cursor: pointer
    padding: 0 16px
.cbtn-nbg
    padding: 0
    background: none


.cbtn-l-icon
    i
        margin-right: 12px

.cbtn-r-icon
    i
        margin-left: 12px