.review-holder
    height: 1000px
    width: 100%
    .cover
        position: relative
        width: 100%
        height: calc(100vh - 80px)
        background-attachment: fixed
        div
            position: absolute
            width: 100%
            height: 100%
            background: rgba(#111, .25)
        img
            width: 100%
            height: 100%
            object-fit: cover
    .separator
        width: 100%
        height: 4px
        background: #ec7063