{% load i18n %}

<div class="actions">
  {% block actions %}

    <div class="row">
    {% block actions-form %}
        <div class="col s12 m6 xl4">
        {% for field in action_form %}{% if field.label %}<label class="flow-text red-text">{{ field.label }} {% endif %}{{ field }}{% if field.label %}</label>{% endif %}{% endfor %}
        </div>{% endblock %}
    </div>
    <div class="row">
        <div class="col s12">
            {% block actions-submit %}
            <button type="submit" class="btn red white-text" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">{% trans "Apply Action" %}</button>
            {% endblock %}
            {% block actions-counter %}
            {% if actions_selection_counter %}
                <div>
                    <span class="flow-text action-counter " data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
                    {% if cl.result_count != cl.result_list|length %}
                    <span class="flow-text all" hidden>{{ selection_note_all }}</span>
                    <span class="flow-text question" hidden>
                        <a href="#" title="{% trans "Click here to select the objects across all pages" %}" class="flow-text">{% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }} across all pages{% endblocktrans %}</a>
                    </span>
                    <span class="flow-text clear" hidden><a href="#">{% trans "Clear selection" %}</a></span>
                    {% endif %}
                </div>
            {% endif %}
            {% endblock %}
        </div>
    </div>
  {% endblock %}
</div>
